#footer
  .container.text-center
    div
      //- | © 2014 Havo Inc.
    div
      strong MusicConnect
      |  ·
      | Author
      a(href='http://github.com/hasnainv')  Hasnain Vohra
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
     